<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjDmrJD9jY8xI-kJyJByBxwYJICN-Bdug</string>
	<key>GCM_SENDER_ID</key>
	<string>469149340323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iot</string>
	<key>PROJECT_ID</key>
	<string>iot-project-61f2a</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-project-61f2a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469149340323:ios:03e3cf5e70df1b3893e516</string>
	<key>DATABASE_URL</key>
	<string>https://iot-project-61f2a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>